$background_color: #000000;
$font_color: #ffffff;
$font_title: 26px;
$font_subtitle: 18px;
$font_base: 16px;
$font_size: 14px;
$font_title_small: 18px;
$font_subtitle_small: 16px;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$arial: Arial, Verdana, Helvetica, sans-serif;
$font_weight: 300;
$faw: FontAwesome;
$black: #000000;
$black_t: rgba(0,0,0,0.7);
$white: #ffffff;
$white_t: rgba(255,255,255,0.6);
$gray: #a9a9a9;
$gray_2: #8a8a8a;
$gray_3: #4e4e4e;
$cornflowerblue: #5787f4;
$royalblue: #4572ed;
$gold: #d69a33;
$carnation: #fb5259;
$gallery: #efefef;
$hopbush: #D97AAD;
$beautybush: #EFBBD2;
$cherrywood: #5C1614;
